<!DOCTYPE html>
<html lang="en">
<header>
  <form action="/" method="GET">
    <button class="logo">QuizIt</button>
  </form>

  <span class="header-title">
    <form action="/logout" method="GET">
      <button class="header-buttons">Logout</button>
    </form>
      
    <form action="/userProfile" method="GET">
      <button class="header-buttons">My Page</button>
    </form>
    <div class="profile-picture"></div>

    <!-- <form action="/createQuiz" method="GET">
      <button class="create-quiz-button" type="submit">Create New Quiz</button>
    </form> -->
  </span>

  <!--If statement goes here -->

</header>
<body>
  
</body>
</html>