<!DOCTYPE html>
<html lang="en">
  <!-- Special Font -->
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Mukta:wght@300&family=Source+Sans+Pro:ital,wght@1,600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
<header>
  <form action="/" method="GET">
    <button class="logo">QuizIt</button>
  </form>

  <span class="header-title">
    <form action="/logout" method="GET">
      <button class="header-buttons">Logout</button>
    </form>

    <!-- <form action="/userProfile" method="GET">
      <button class="header-buttons">My Page</button>
    </form> -->
    <div class="profile-picture"></div>

    <!-- <form action="/createQuiz" method="GET">
      <button class="create-quiz-button" type="submit">Create New Quiz</button>
    </form> -->
  </span>

  <!--If statement goes here -->

</header>
<body>

</body>
</html>
