<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/login.css" />
  <link rel="stylesheet" href="/styles/createQuiz.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/homepage.js"></script>

<!-- Special Font -->
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Mukta:wght@300&family=Source+Sans+Pro:ital,wght@1,600&display=swap" rel="stylesheet">

</head>

<body>

  <%- include('partials/_header') %>
  <div class="headerSpaceSection"></div>
  <main class="container">
    <div class="featured-container1">
      <div class="featured-overlay">
        <h2>Featured Quizzes</h2>
      </div>
      <div class="quiz-box">
        <button class="quiz-item">Guess the Coding Language</button>
      </div>
    </div>

    <section class="quiz-content">
      <div class="quiz-box">
        <h2>Available Quizzes</h2>
        <div class="quiz-container" id="quiz-container"></div>
      </div>
    </section>

</main>
</body>

</html>
