<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/quiz.css" />
  
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/quiz.js"></script>
  <title>Quiz Attempt</title>
</head>
<body>
  <%- include('partials/_header') %>
    <form action="/results/<%= quizId %>" method="POST" id="quizForm">
      <section class="page-content">
        <div class="page-form">
          <h1>Name Of Quiz</h1>
          <h2>By: Author Name </h2>

          <button type="submit" id="submitQuiz">Submit Quiz</button>
        </div>

        <div class="quiz-questions">
          <h2>Questions Details</h2>

<!--           <%// for (let i = 0, i < 5, i++) { %>
            <div class="question-1">
              <label for="quiz_description1">Question Description 1</label><br>
              <input type="radio" name="question1" id="Q1Answer1">
              <label for="answer1">Answer 1</label>
              <input type="radio" name="question1" id="Q1Answer2">
              <label for="answer1">Answer 2</label>
            </div>
          <% //} %> -->
          <div class="quiz-box">
            <h2>Quiz Questions</h2>
            <div class="quiz-container" id="quiz-container"></div>
          </div>

          </div>
        </div>
        </section>  
      </form>
      
      </div>
  </body>
</html>


