<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <meta id="user-id" data-user-id="<%= user.id %>">
  <link rel="stylesheet" href="/styles/users.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
  <title>Users Page</title>
</head>

<body>
<%- include('partials/_header') %>

  <section class="page-content">
    <div class="page-form">
      <div class="profile-picture"></div>
      <div class="user-info-box" id="user-info-box">
      </div>
    </div>

    <div class="container">
      <div class="quiz-box">
        <h2>My Quizzes</h2>
        <div class="quiz-row" id="my-quizzes-container"></div>
      </div>
    </div>

    <div class="quizHistory">
      <h1>My Quiz History</h1>
      <div class="quiz-history-container" id="quiz-history-container"></div>
    </div>


  </section>
</body>

</html>
