<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <link rel="stylesheet" href="/styles/users.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
  <title>Users Page</title>
</head>

<body>
<%- include('partials/_header') %>
  <section class="page-content">
    <div class="page-form">
      <div class="profile-picture"></div>
      <h1>Users</h1>
      <h1>Useremail</h1>
      <button id="fetch-users">Fetch Users via AJAX</button>
      <ul id="users"></ul>
    </div>

    <div class="myQuiz">
      <h1>My Quizzes</h1>
      <button type="submit" id="submit">Name Recently Attempted Quiz</button>

    </div>

    <div class="quizHistory">
      <h1>My Quiz History</h1>
      <button type="submit" id="submit">Quiz 1 History</button>
      <button type="submit" id="submit">Quiz 1 History</button>
    </div>




  </section>
</body>

</html>
