header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  height: 120px;
  width: 100%;
  background-color: #00e1ff;
  font-size: 60px;
  position: fixed;
  z-index: 100;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  padding: 0 20px;
  font-family: 'Mukta', sans-serif;
}

h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
}

.page-content {
  display: flex;
  margin-top: 120px;
}

.question-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgb(0, 81, 255);
  width: 25%;
  font-size: 20px;
}

.quiz-questions {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 238, 255);
  padding: 20px;
  width: 1320px;
  align-items: center;
}

label[for="quiz_description1"]  {
  font-size: 35px;
  margin-top: 10px;
}

label[for="quiz_answer1"]  {
  border-style: solid;
}

input[name="quiz_description1"] {
  width: 480px;
  border-radius: 7px;
}

