body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

h2 {
  padding: 25px;
}

.container {
  width: 50%;
  height: 100%;
  margin-top: 12em;
}

.headerSpaceSection {
  height: 150px;
}

.featured-container-1 {
  width: 50%;
  margin: 20px;
  padding: 30px;
}

.quiz-item {
  background-color: #c9c9c9;
  font-size: 30px;
  padding: 30px;
  margin: 10px;
  border: 2px solid black ;
}

