// See: https://sass-lang.com/

// body,
// html {
//   margin: 0;

// }

.quiz-content {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 0px;
  width: 60%;
}

.quiz-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  gap: 40%;
}

.quiz-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: #c9c9c9;
}

.quiz-box {
  text-align: center
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  margin-top: 120px;
  padding: 20px;
  width: 40%;
}

.featured-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
