.login {
  justify-content: center;
  display: flex;

}

#login-box {
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.page-content {
  display: flex;
  align-items: center;
  margin-top: 12em;
  padding: 20px;
  background-color: #5d6f67;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
}

.login-button {
  gap: 20px;
  display: flex;
}

#loginForm {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

#submit.login-button{
  background-color: #c9c9c9;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#email {
  border: 2px solid black;
}

#password {
  border: 2px solid black;
}

.emailH2 {
 padding: 0px;
 margin: 0px;
}

.passwordH2 {
 padding: 0px;
 margin: 0px;
}

.loginH1 {
  margin: 15px;
}
