// // body, header, form, button, logo,

body {
  font-family: 'Mukta', sans-serif;
  background-color: #fdecf5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  height: 120px;
  width: 100%;
  background-color: #00e1ff;
  font-size: 60px;
  position: fixed;
  z-index: 100;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  padding: 0 20px; /* Add padding to header for spacing */
}

.header-buttons {
  display: flex;
  gap: 10px;
  align-items: center; /* Align buttons and profile picture vertically */
}

.header-buttons button {
  display: flex;
  font-size: 0.5em;
  color: white;
  background-color: #000000;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.profile-picture {
  width: 100px;
  height: 100px;
  background-image: url("https://www.shutterstock.com/image-vector/woman-profile-mascot-vector-illustration-600w-1943696413.jpg");
  background-size: cover;
  border-radius: 10px;
}

.quiz-container {
  font-size: 25px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.featured-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  margin-left: auto;
  margin-top: -365px;
  background-color: rgb(0, 238, 255);
  padding: 20px;
  width: 40%;

}

.quiz-box {
  background-color: wheat;
  padding: 20px;
  margin-top: 120px;
  width: 60%;
}

.quiz-row {
  display: flex;
  gap: 30%;
  background-color: wheat;
  margin-right: auto;
}

.quiz-item {
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
}
