// body, header, form, button, logo,


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-family: 'Mukta', sans-serif;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

header {
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: rgb(3, 131, 252);
  padding: 10px;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

.header-buttons {
  display: flex;
  gap: 10px;
  background-color: rgb(0, 183, 255);
  padding: 15px;
  border-radius: 4px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  background-image: url("https://www.shutterstock.com/image-vector/woman-profile-mascot-vector-illustration-600w-1943696413.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.quiz-container{
  font-size: 25px;
  justify-content: space-between;
  margin: 20px;

}

.featured-container{
  font-size: 25px;
  margin-left: auto;
  position: absolute;
  right: 15px;
  top: 23%;
  background-color: rgb(0, 238, 255);
  padding: 20px;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: wheat;
  padding: 5px;
}

.quiz-row {
  display: flex;
  gap: 20%;
  background-color: wheat;
}

.quiz-item {
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;

}
