body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

#header {
  background-color: #f2f2f2;
  padding: 20px;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.page-form {
  text-align: center;
  margin-bottom: 20px;
}

.quiz-questions {
  width: 100%;
  max-width: 600px;
}

label {
  display: in-line-flex;
  align-items: center;
  margin-bottom: 5px;
}

input[type="radio"] {
  margin-right: 5px;
  display: inline-flex;
}

#submitQuiz {
  width: 40%;
  padding: 10px 20px;
  background-color: #dfdede;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#submitQuiz:hover {
  background-color: #dfdede;
}

.question {
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: #dfdede;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question label {
  margin-bottom: 10px;
  display: inline-flex;
}

.question input[type="radio"] {
  margin-right: 10px;
  display: inline-flex;
}
